* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}


#logo > img{
            height: 60px;

}
.bottoni {
    list-style: none;
}
.bottoni li {
    display: inline-block;
    font-size: 18px;

}
.bottoni li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #999999;
}

#violet{
    background-image: url(banner.jpg);

}

.box {
    height: 400px;
    width: 1024px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
    padding: 15px;

}

#violet > h3{
        height: 450px;
        line-height: 600px;
        color: white;

}
#violet > img{
        max-width: 50%;
}

h3{
    font-family: 'Roboto', sans-serif;
    }

#orange{
    background-color: #E1D67A;
    height: 0px;
    margin-top: 20px;
}

.scritte{
        color: #999999;
        font-family: 'Roboto', sans-serif;

}

main{
    display: inline-block;
}
main::after {
    content: "";
    display: table;
    clear: both;
}

.riquadro{
    background-color: #0186FF;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#left{
    float: left;
    /* background-image: url(img-1.jpg); */
    width: 30%;
    margin-right: 1%;
}

#prova{
    display: inline-block;
}

#middle{
    float: left;
    /* background-image: url(banner-2.jpg); */
    width: 30%;
    display: inline-block;

}

#right{
    float: left;
    /* background-image: url(img-3.jpg); */
    width: 30%;
    background-repeat: no-repeat;
}

#fondo{
    background-color: #8801FE;
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;

}